{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br><br><br>
<h2>LOGIN</h2>
<hr>
<form class="container" method="POST">
    {% csrf_token %}


        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                </div>
        {% endif %}
    {{ form|crispy}}
    <br>
    <button type="submit" class="btn btn-success">Login</button>

</form>
{% endblock %}




